[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
google-generativeai = "*"
chromadb = "*"
python-dotenv = "*"
pdfplumber = "*"
langchain = "*"
pypdf = "*"
langchain-google-genai = "*"
langchainhub = "*"

[dev-packages]

[requires]
python_version = "3.10"
